In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader.data import DataReader
from pandas_datareader.yahoo.daily import YahooDailyReader
import yfinance as yf

# For time stamps
from datetime import datetime


# The tech stocks we'll use for this analysis
tech_list = ['GOOG']

# Set up End and Start times for data grab

end = datetime.now()
start = datetime(end.year - 2, end.month, end.day)

for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)
    

company_list = [GOOG]
company_name = ["GOOGLE"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)
df.tail(10)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2023-01-04 00:00:00-05:00,91.010002,91.239998,87.800003,88.709999,88.709999,27046500,GOOGLE
2023-01-05 00:00:00-05:00,88.070000,88.209999,86.559998,86.769997,86.769997,23136100,GOOGLE
2023-01-06 00:00:00-05:00,87.360001,88.470001,85.570000,88.160004,88.160004,26604400,GOOGLE
2023-01-09 00:00:00-05:00,89.195000,90.830002,88.580002,88.800003,88.800003,22996700,GOOGLE
2023-01-10 00:00:00-05:00,86.720001,89.474998,86.699997,89.239998,89.239998,22855600,GOOGLE
2023-01-11 00:00:00-05:00,90.059998,92.449997,89.739998,92.260002,92.260002,25998800,GOOGLE
2023-01-12 00:00:00-05:00,92.400002,92.620003,90.570000,91.910004,91.910004,22754200,GOOGLE
2023-01-13 00:00:00-05:00,91.528000,92.980003,90.930000,92.800003,92.800003,18617800,GOOGLE
2023-01-17 00:00:00-05:00,92.779999,92.970001,90.839996,92.160004,92.160004,22924800,GOOGLE
2023-01-18 00:00:00-05:00,92.940002,93.580002,91.400002,92.139999,92.139999,11735701,GOOGLE

In [5]:
GOOG.describe()

,Open,High,Low,Close,Adj Close,Volume
count,504.000000,504.000000,504.000000,504.000000,504.000000,5.040000e+02
mean,120.360748,121.742552,119.011655,120.362816,120.362816,2.674316e+07
std,18.003978,17.915138,17.911962,17.923022,17.923022,1.026165e+07
min,85.510002,86.550003,83.449997,83.489998,83.489998,8.567800e+06
25%,104.174875,105.740997,103.271124,104.766373,104.766373,1.992712e+07
50%,118.453999,119.931000,117.117699,118.825001,118.825001,2.450400e+07
75%,137.111145,138.404129,135.722248,137.012375,137.012375,3.100122e+07
max,151.863495,152.100006,149.887497,150.709000,150.709000,8.975000e+07

In [6]:
GOOG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 504 entries, 2021-01-19 00:00:00-05:00 to 2023-01-18 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          504 non-null    float64
 1   High          504 non-null    float64
 2   Low           504 non-null    float64
 3   Close         504 non-null    float64
 4   Adj Close     504 non-null    float64
 5   Volume        504 non-null    int64
 6   company_name  504 non-null    object
dtypes: float64(5), int64(1), object(1)
memory usage: 31.5+ KB

In [ ]:
GOOG['Adj Close'].plot()
plt.ylabel("Adj Close")
plt.xlabel("Date")
plt.title('Closing Price of GOOG')

plt.show()

In [ ]:
df = DataReader('GOOG', data_source='stooq', start='2020-01-01', end=datetime.now())

In [ ]:
df.sort()

In [ ]:
plt.title('Close Price History of GOOG')
plt.plot(df['Close'])
plt.xlabel('Date')
plt.ylabel('Close Price (USD)')

In [ ]:
data = df.filter(items=['Close'])[-1::-1]
datasmaret = data.values
training_data_len = int(np.ceil(len(dataset) * 0.8))
training_data_len

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(dataset)

scaled_data

In [ ]:
# Create the training data set 
# Create the scaled training data set
train_data = scaled_data[0:int(training_data_len), :]
# Split the data into x_train and y_train data sets
x_train = []
y_train = []

for i in range(60, len(train_data)):
    x_train.append(train_data[i-60:i, 0])
    y_train.append(train_data[i, 0])
    if i<= 61:
        print(x_train)
        print(y_train)
        print()
        
# Convert the x_train and y_train to numpy arrays 
x_train, y_train = np.array(x_train), np.array(y_train)

# Reshape the data
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))
# x_train.shape

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, LSTM

# Build the LSTM model
model = Sequential()
model.add(LSTM(128, return_sequences=True, input_shape= (x_train.shape[1], 1)))
model.add(LSTM(64, return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(x_train, y_train, batch_size=1, epochs=1)

In [ ]:
# Create the testing data set
# Create a new array containing scaled values from index 1543 to 2002 
test_data = scaled_data[training_data_len - 60: , :]
# Create the data sets x_test and y_test
x_test = []
y_test = dataset[training_data_len:, :]
for i in range(60, len(test_data)):
    x_test.append(test_data[i-60:i, 0])
    
# Convert the data to a numpy array
x_test = np.array(x_test)

# Reshape the data
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1 ))

# Get the models predicted price values 
predictions = model.predict(x_test)
predictions = scaler.inverse_transform(predictions)

# Get the root mean squared error (RMSE)
rmse = np.sqrt(np.mean(((predictions - y_test) ** 2)))
rmse

In [ ]:
# Plot the data
train = data[:training_data_len]
valid = data[training_data_len:]
valid['Predictions'] = predictions
# Visualize the data
plt.figure(figsize=(16,6))
plt.title('Model')
plt.xlabel('Date', fontsize=18)
plt.ylabel('Close Price USD ($)', fontsize=18)
plt.plot(train['Close'])
plt.plot(valid[['Close', 'Predictions']])
plt.legend(['Train', 'Val', 'Predictions'], loc='lower right')
plt.show()

In [ ]:
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow import keras
from tensorflow.keras.layers import RNN
from tensorflow.keras.backend import dot

In [ ]:
class LSTM(tf.keras.layers.Layer):
    def __init__(self, units, **kwargs):
        self.units = units
        self.state_size = units
        
        self.activation = activations.get('tanh')
        self.recurrent_activation = activations.get('hard_sigmoid')
        self.kernel_initializer = initializers.get('glorot_uniform')
        self.recurrent_initializer = initializers.get('orthogonal')
        self.bias_initializer = initializers.get('zeros')
        
        super(LSTM, self).__init__(**kwargs)

    def build(self, input_shape):
        self.ft = self.add_weight(shape=(input_shape[-1] , self.units),
                                      initializer=self.kernel_initalizer,
                                      name='ft')
        self.ft_b = self.add_weight(shape=(self.units),
                                      initializer=self.bias_initializer,
                                      name='ft_b')
        self.c = self.add_weight(shape=(input_shape[-1], self.units),
                                      initializer=self.kernel_initalizer,
                                      name='ct')
        self.c_b = self.add_weight(shape=(self.units),
                                      initializer=self.bias_initializer,
                                      name='c_b')
        self.o = self.add_weight(shape=(input_shape[-1], self.units),
                                      initializer=self.kernel_initalizer,
                                      name='ot')
        self.o_b = self.add_weight(shape=(self.units),
                                      initializer=self.bias_initializer,
                                      name='o_b')
        self.i = self.add_weight(shape=(input_shape[-1], self.units),
                                      initializer=self.kernel_initalizer,
                                      name='it')
        self.i_b = self.add_weight(shape=(self.units),
                                      initializer=self.bias_initializer,
                                      name='i_b')

        self.built = True

    def call(self, inputs, states):
        h,c = states[0], states[1]
        
        
        
        y_ft = self.reccurentactivation(dot()
        
        return output, [h,c]

cell = LSTM(1)
layer = RNN(cell)